html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar cards"
    ;
}

h2 {
    font-size: 1.4rem;
}

ul {
    list-style-type: none;
}

header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-top {
    display: flex;
}

.header-bottom {
    display: flex;
}

aside {
    grid-area: sidebar;
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    /* justify-content: center; */
    /* align-items: center; */
    gap: 30px;
    background-color: #1992D4;
    color: #FFFFFF;
}

.sidebar-title {
    display: flex;
    align-items: center;
    margin: 2rem 1rem 2rem 1.3rem;
    gap: 10px;
    /* padding: 20px; */
    font-size: 30px;
}

.logo {
    height: 3.5rem;
    width: 3.5rem;
}

.nav__link {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 1rem 1rem 1rem 3rem;
}

#communities {
    margin-bottom: 2.5rem;
}

main {
    background-color: #E2E8F0;
    grid-area: cards;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending"
    ;
    padding: 2rem;
}

.projects-title {
    margin-left: 1rem;
}

.projects-wrapper {
    grid-area: projects;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 1rem;
    min-height: auto;
}

.card {
    background-color: #FFFFFF;
    min-height: 250px;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.projects {
    display: flex;
    flex-direction: column;
    border-left: 6px #F0B429 solid;
}

.projects h3 {
    margin-bottom: .5rem;
}

.projects p {
    color: #909090;
    margin-bottom: 1rem;
}

.icon-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.announcements-wrapper {
    grid-area: announcements;
    min-width: 250px;
}

.trending-wrapper {
    grid-area: trending;
}